<div class="sm:hidden text-right w-full">
    <button id="menu-button" class="pr-4">
        <svg width="50px" height="50px" viewBox="0 0 24 24" fill="none">
        <path d="M20 7L4 7" stroke="#ecfeff" stroke-width="1.5" stroke-linecap="round"/>
        <path d="M20 12L4 12" stroke="#ecfeff" stroke-width="1.5" stroke-linecap="round"/>
        <path d="M20 17L4 17" stroke="#ecfeff" stroke-width="1.5" stroke-linecap="round"/>
        </svg>
    </button>
</div>
<ul id="nav-list" class="max-sm:hidden sm:flex sm:flex-auto max-sm:text-center">
    <li class="max-sm:border-t">
        <button hx-get="/books/reviews" hx-target="#main-div" class="text-l sm:border-r sm:border-white px-4 my-3 hover:text-sky-500 max-sm:w-full">Reviews</button>
    </li>
    <li class="max-sm:border-t">
        <button hx-get="/books/readinglist" hx-target="#main-div" class="text-l sm:border-r sm:border-white px-4 my-3 hover:text-sky-500 max-sm:w-full">My Reading List</button>
    </li>
    <li class="max-sm:border-t">
        <button hx-get="/books/add" hx-target="#main-div" class="text-l sm:border-r sm:border-white px-4 my-3 hover:text-sky-500 max-sm:w-full">Add Book</button>
    </li>
    <li class="max-sm:border-t sm:ml-auto">
        <button 
        hx-get="login"
        hx-target="#main-div"
        class="text-l sm:border-r sm:border-white px-4 my-3 hover:text-sky-500 max-sm:w-full">
            login
        </button>
        <button
        hx-get="login/create" 
        hx-target="#main-div"
        class="text-l sm:border-r sm:border-white px-4 my-3 hover:text-sky-500 max-sm:w-full">
            create account
        </button>
    </li>

</ul>