<div class="md:w-3/4 lg:w-2/4 m-auto max-sm:w-full">
    <h4 class="font-bold text-4xl py-2 mb-6 border-b w-full text-center">Reading List</h4>
    <% books.forEach(book => { %>
        <div class="bg-gray-800 flex items-center w-full my-4 p-2 rounded-lg max-sm:flex-col" >
            <p class="px-2 font-xl font-bold"><%= book.title %></p>
            <p class="px-2 font-lg"><%= book.author %> </p>
            <button hx-get="/books/reviews/add" hx-target="#main-div" class="text-white p-2 flex bg-sky-500 items-center rounded-lg hover:bg-sky-800 sm:ml-auto max-sm:mt-4"> 
                <svg width="20px" height="20px" viewBox="0 0 24 24" fill="none">
                <g id="SVGRepo_bgCarrier" stroke-width="0"/>
                <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"/>
                <g id="SVGRepo_iconCarrier"> <g id="Edit / Add_Plus"> <path id="Vector" d="M6 12H12M12 12H18M12 12V18M12 12V6" stroke="#ffffff" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/> </g> </g>
                </svg>
                Review
            </button>
        </div>
    <% }) %>

</div>