<header class="bg-gray-700 bg-opacity-25 hover:bg-opacity-100 text-white sticky top-0 max-sm:m transition-all z-10">
    <%- include('../partials/header', {user}) %>
</header>   
<div id="main-div">
    <% if (message) { %>
        <%- include('../partials/success', {message}) %>
    <% } %>
</div>