<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head'); %>
  </head>
  <body class="bg-gray-900 text-white">
    <header
      class="bg-gray-700 bg-opacity-25 hover:bg-opacity-100 text-white sticky top-0 max-sm:m transition-all z-10"
    >
      <%- include('../partials/header', {user}) %>
    </header>
    <main><%- include('../partials/userReviews', {books, page}) %></main>
  </body>
</html>
