<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('../partials/head'); %>
</head>
<body class="bg-gray-900 text-white">
    <header class="bg-gray-700 bg-opacity-25 hover:bg-opacity-100 text-white sticky top-0 max-sm:m transition-all">
        <%- include('../partials/header', {user}) %>
    </header>   
    <div id="main-div">
        <%- include('../partials/allReviews', {books}) %>
    </div>
</body>
</html>